.loginDiv{
    width: 50%;
    margin: auto;
    margin-top: 5rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 10px;
   
}
.loginDiv1{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}
.loginDiv2{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}
.loginDiv1 input,.loginDiv2 input{
    width: 100%;
    padding: 15px 5px;
   border-radius: 10px;
   margin-top: 0.8rem;
   border:2px solid #EB455F;
}
.loginHead{
    text-align: center;
    padding-top: 3rem;
    color: #181D31;
}
::placeholder{
    font-size: 20px;
}
.loginDiv1 label,.loginDiv2 label,.loginDiv3 label{
    font-size: 20px;
    font-weight: bold;
    color: #06283D;
   
}
.loginBtn{
       display: block;
        margin: auto;
        margin-top: 2rem;
        padding: 10px 20px;
        width: 30%;
        font-size: 1.5rem;
        cursor: pointer;
        color:white ;
        background-color:#8EA7E9 ;
        border: none;
        border-radius: 10px;
        transition: 0.5s ease-in-out;  
}
.loginBtn:hover{
    color:#B5F1CC ;
    background-color:#FF597B ;
}
.lastlogDiv{
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 2rem;
}
.lastlogDiv p{
    margin-top: 1rem;
}

@media all and (min-width: 320px) and (max-width: 650px){
   .loginDiv{
      width:90%;
   }
   .loginDiv1,.loginDiv2{
    width: 90%;
   }
   .loginBtn{
     width: fit-content;
   }

}

@media all and (min-width: 650px) and (max-width: 850px){
    .loginDiv{
       width:60%;
    }
    .loginDiv1,.loginDiv2{
     width: 90%;
    }
    .loginBtn{
        width: fit-content;
      }
 
 }

