#doctorform.doctorform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  max-width: 50%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;

  .top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    // margin-bottom: 30px;
    margin-top: 30px;

    width: 95%;
    //   max-width: 50%;
    // margin: auto;
    .info_section {
      width: 60%;
    }
    img {
      height: 100px;
    }
    h2 {
      font-size: 20px;
      font-weight: 600;
    }
    p {
      color: grey;
      font-size: 14px;
      word-wrap: break-word;
    }
  }
  .data_section {
    /* overflow: scroll; */
    /* height: 200px; */
    /* width: 95%; */
    width: max-content;
    max-height: 270px;
    overflow-y: scroll;
    .maped {
      border: 1px solid #ddd2d2;
      margin: auto;
      margin: 10px 0px;
      border-radius: 4px;
      padding: 5px 10px;
      width: 350px;
      div{
        display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
      }
      h4 {
        font-weight: 600;
        color: rgb(57, 56, 56);
      }
      p{
        color: black;
      }
    }
  }
  .memberAdd {
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 600;
    color: tomato;
    cursor: pointer;
    margin-top: 20px;
  }
  .contact_section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    label {
      color: grey;
      font-size: 14px;
      margin: 5px;
    }
    input {
      padding: 10px 10px;
      border-radius: 4px;
      // width: 50%;
      // max-width: 50%;
      width: 380px;
    }
  }
  .chat_button {
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    background: transparent;
    padding: 2px 18px;
    margin: 10px 15px;
  }
  .Chat_section {
    margin-top: 30px;
    p {
      color: grey;
      font-size: 14px;
    }
  }
  #proceed {
    color: white;
    align-self: flex-end;
  }
  .proceed {
    // padding: 5px 40px;
    width: 200px;
    // width: 100%;
    background-color: #ff6f61;
    height: 36px;
    border-radius: 4px;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0 12px;
  }
  .Dc-popup {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    .whitePopup {
      background: white;
      width: 360px;
      /* height: 500px; */
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      position: absolute;
      padding: 40px;
      box-sizing: border-box;
      h3 {
        margin-bottom: 35px;
      }

      form {
        display: flex;
        flex-direction: column;
        div {
          position: relative;
        }
        label {
          font-size: 12px;
          color: #5a5959;
          margin-bottom: 5px;
          position: absolute;
          left: 20px;
          top: 6px;
          &.gendertag {
            position: static;
          }
        }
        // gap: 20px;
        input,
        select {
          border: 1px solid #ff6f61;
          padding: 5px 20px;
          border-radius: 4px;
          width: 100%;
          margin-bottom: 25px;
        }
        button {
          background-color: #ff6f61;
          border: none;
          padding: 10px;
          border-radius: 6px;
          color: white;
        }
        .closeForm{
          margin-top: 10px;

        }
      }
    }
  }
}
// @media screen and (max-width: 900px ) and (min-width:600px) {
//   #doctorform.doctorform{

//   }

// }
@media screen and (max-width: 600px) {
  #doctorform.doctorform {
    padding: 10px;
    width: 100%;
    max-width: 100%;
    .contact_section {
      input {
        width: 100%;
      }
    }
    #proceed{
      width: 100%;
    }
  }
}
