#covid.covid {
  .description {
    display: flex;
    background-color: #fdf0df;
    align-items: center;
    padding: 30px;
    .des-1 {
      margin-left: 60px;
      width: 40%;
      margin: auto;
      h4{
        color: #767676;
        font-size: 18px;
      }
      h1{
        font-weight: 700;
        font-size: 35px;
        margin-bottom: 15px;
      }
      .num{
        font-weight: 700;
        font-size: 45px;
      }
    }
    .des-2 {
      margin-right: 60px;
      width: 40%;
      margin: auto;
    }
    img {
      width: 100%;
    }
  }
  .description-2 {
    display: flex;
    background-color: #fdf0df;
    align-items: center;
    width: 80%;
    margin: 60px auto;
    border-radius: 10px;
    .d1 {
      margin-left: 20px;
      padding: 10px;
  
      h1 {
      }
      h2 {
        font-weight: 100;
      }

      .book_now {
        padding: 10px 80px;
        color: white;
        border: none;
        background: #ff6f61;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        margin-top: 20px;
      }
    }
    img {
      width: 85%;
      float: right;
      border-bottom-right-radius: 10px;
    }
  }
  .grid-view{
    display: grid;
    grid-template-columns: repeat(3,400px);
    width: 85%;
    margin: auto;
    justify-content: center;
    gap: 20px;
    div{
       
    }
    img{
        width: 85%;
    }
  }
}
