#consultations.abu {



  .consultations {
    display: flex;
    padding: 20px;
    width: max-content;
    margin: auto;
    min-width: 70%;
  }
  
  .careplan_button button {
    background: #903e38;
    color: white;
    border: none;
    margin: 10px;
    padding: 6px 10px;
    border-radius: 6px;
    clip-path: polygon(100% 0, 87% 100%, 0% 100%, 0% 0%);
    width: 110px;

    padding-left: 2px;
    border-bottom-right-radius: 55px;
    border-top-right-radius: 20px;
  }
  .background {
    background-color: #fef7ef;
  }
  .pres {
    display: flex;
    gap: 20px;

    div {
      display: flex;
      align-items: center;
      gap: 5px;
      svg {
        // font-size: 10px;
        height: 40px;
        width: 40px;
      }
    }
  }
  .part2 {
    display: flex;
    justify-content: space-between;
    width: max-content;
    margin: auto;
    margin-top: 30px;
    min-width: 70%;
  }
  .right_top {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .for_font h2 {
    color: grey;
  }
  .consult_now_button {
    padding: 8px 70px;
    border: none;
    border-radius: 4px;
    background-color: #ff6f61;
    color: white;
    font-weight: 600;
  }
  .part3 {
    border: 1px solid;
    width: max-content;
    margin: auto;
    min-width: 70%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
  }
  .part3 h1 {
    font-size: 50px;
    color: #ff6f61;
  }
  .part3 h3 {
    color: grey;
  }

  .slick-prev,
  .slick-next {
    background-color: #ff6f61;
    border-radius: 50%;
    line-height: normal;
    width: 26px;
    height: 25px;
  }
  .slick-prev:before,
  .slick-next:before {
    margin-left: -1px;
    opacity: 1;
    font-size: 30px;
  }
  .dc-slider-setting {
    padding: 45px;
    text-align: center;
  }
  .DC-confident {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 30px;
    width: 100%;
    justify-content: center;
    text-align: center;

    img {
      width: 100%;
      height: 90px;
      padding: 10px 70px;
      box-sizing: border-box;
      vertical-align: middle;
    }
    p {
      font-size: 16px;
      color: #616161;
    }
    h4 {
      font-size: 20px;
      font-weight: 700;
      color: #616161;
    }
  }

  .DC-doctor {
    display: grid;
    grid-template-columns: 400px 400px;
    width: 1000px;
    justify-content: space-between;
    margin: 50px auto;
    button {
      height: 48px;
      background-color: #ff6f61;
      text-align: center;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      width: 227px;
      border: none;
      margin-top: 30px;
    }
    img {
      grid-row-start: 1;
      grid-row-end: 4;
      height: 200px;
    }
    h2 {
      margin-top: 30px;
      font-size: 30px;
      font-weight: 700;
    }
    h3 {
      margin-top: 30px;
      color: #9e9e9e;
      font-size: 20px;
      font-weight: 700;
    }
  }
  .DC-faq {
    width: 80%;
    margin: 100px auto;
    div {
      border-bottom: 1px solid rgb(218, 215, 215);
      padding: 20px 0;
    }
    h4 {
      color: rgb(158, 158, 158);
      font-weight: 500;
    }
    h3 {
      font-size: 18px;
      margin-bottom: 15px;
      font-weight: 500;
    }
    h1 {
      text-align: center;
      font-weight: 700;
      font-size: 30px;
      color: #9e9e9e;
    }
  }
}

@media screen and (max-width: 900px) {
  #consultations.abu {
    .DC-doctor {
      grid-template-columns: 300px 300px;
      width: 100%;
      justify-content: center;
    }
    .part3 {
      flex-direction: row;
      width: 90%;
    }
    .part2 {
      flex-direction: column-reverse;
      align-items: center;
      .right_top {
        align-items: center;
        .pres {
          flex-direction: row;
        }
        .for_font {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          width: 80%;
          margin: auto;

          h1 {
            font-size: 14px;
            text-align: center;
          }
          h2 {
            font-size: 12px;
          }
        }
      }
    }
    .consultations > div:nth-child(2) {
      width: max-content;
    }
  }
}

@media screen and (max-width: 600px) {
  #consultations.abu {
    .DC-doctor {
      grid-template-columns: 300px;
      width: 100%;
      justify-content: center;
    }
    .part3 {
      flex-direction: column;
    }
    .part2 {
      flex-direction: column-reverse;
      align-items: center;
      .right_top {
        align-items: center;
        .pres {
          flex-direction: column;
        }
        .for_font {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          width: 80%;
          margin: auto;

          h1 {
            font-size: 14px;
            text-align: center;
          }
          h2 {
            font-size: 12px;
          }
        }
      }
    }
    .consultations > div:nth-child(2) {
      width: 241px;
    }
  }
}
