#doctorfinal.doctorfinal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 700px;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;

    .top_section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        // margin-bottom: 30px;
        margin-top: 30px;

      width: 100%;
    //   max-width: 50%;
        // margin: auto;
        .info_section{
            width: 60%;
        }
        img{
            height: 100px;
        }
        h2{
            font-size: 20px;
        font-weight: 600;
        }
        p{
            color: grey;
            font-size: 14px;
            word-wrap: break-word;
        }
    }
    .data_section{
        width: 50%;
        // max-width: 50%;
        //   margin: auto;
          overflow-y: scroll;
          height: 200px;
          width: 100%;
          margin-bottom: 30px;
          .maped{
    border: 1px solid #ddd2d2;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
    border-radius: 4px;
    padding: 2px 10px;
    width: 350px;
    &:hover{
        background-color: rgba(0,0,0,0.2);
        cursor: pointer;
    }
    img{
        height: 40px;
        width: 50px;
    }
    h4{
        font-weight: 400;
    }
          }

    }
    .memberAdd{
        border: none;
        background: none;
        font-size: 18px;
        font-weight: 600;
        color: tomato;
        cursor: pointer;
        margin-top: 20px;
      
    }
.search_section{
    // display: flex;
    // flex-direction: column;
    margin-top: 20px;
  
    input{
        padding: 10px 10px;
        border-radius: 4px;
        // width: 50%;
        // max-width: 50%;
        width: 380px;
        // width: max-content;
        
    }
}
.chat_button{
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    background: transparent;
    padding: 2px 18px;
    margin: 5px 3px;
    

}
.most_searched{
    margin-top: 30px;
    p{
        color: grey;
        font-size: 14px;
    }
}
#proceed{
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
    // align-self: flex-end;
    width: 100%;
}
.proceed{
    // padding: 5px 40px;
    width: 200px;
    // width: 100%;
    background-color: #ff6f61;
    height: 36px;
    // display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0 12px;
}
.back{
    width: max-content;
    // width: 100%;
    background:none;
    height: 36px;
    // display: flex;
    // justify-content: center;
    font-size: 18px;
    align-items: center;
    // border-radius: 4px;
    color:  #ff5344;
    border: none;
    cursor: pointer;
    // outline: none;
    padding: 0 12px;
    font-weight: bold;

}


}

// @media screen and (max-width: 900px ) and (min-width:600px) {
//   #doctorform.doctorform{

//   }

// }
@media screen and (max-width: 600px) {
    // .Footer_Footer__yzuKO > .Footer_Benefits__MjNGM {
    //     flex-wrap: wrap;
    //     >div {
    //         width: 100%;
            
    //     }
    // }
    #doctorfinal.doctorfinal{
       
        padding: 10px;
        .data_section{
            width: 100%;
            // max-width: 50%;
            //   margin: auto;
              overflow-y: auto;
              height: auto;
             .maped{
                width: 100%;
             } 
        }
        #proceed{
            flex-direction: column;
            button{
                width: 100%;
            }
        }

    }
   
  }
  

