:root {
  --orange-color: rgb(255, 153, 76);
  --yellow-color: rgb(246, 230, 129);
}
.Footer {
  background-color: rgb(255, 243, 243);
  padding: 3% 5%;
}
.Divide {
  border-top: 1px solid rgb(203, 203, 203);
}
.Footer > .Text {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}
.Footer > .Text > div > p {
  margin-bottom: 4%;
  color: rgb(63, 63, 63);
  cursor: pointer;
  transition: 0.15s;
}
.Footer > .Text > div > p:hover {
  color: var(--orange-color);
}
.Footer > .Text > div > .Category {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 8%;
}
.Footer > .Text > div > button {
  margin-bottom: 10%;
  border-radius: 5px;
  background-color: var(--yellow-color);
  color: rgb(63, 63, 63);
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.15s;
  padding: 5%;
}
.Footer > .Text > div > button:hover {
  color: rgb(108, 108, 108);
}
.Footer > .Benefits {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.Footer > .Benefits > div {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Footer > .Benefits > div > div > img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.Footer > .Benefits > div > div:first-child {
  width: 40%;
  margin-right: 5%;
}
.Footer > .Benefits > div > div > h3 {
  margin-bottom: 5%;
  letter-spacing: 1px;
}
.Footer > .Benefits > div > div > p {
  font-size: small;
  text-align: justify;
  line-height: 20px;
}
.Footer > .Copyright {
  margin-top: 2%;
}
.Footer > .Copyright > p {
  font-weight: bold;
  color: rgb(158, 158, 158);
  letter-spacing: -0.2px;
}
