:root {
  --orange-color: rgb(255, 153, 76);
}
.Navbar {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Navbar > .Top {
  padding: 0.5% 5%;
  display: flex;
  align-items: center;
}
.Navbar > .Top > .Logo {
  width: 120px;
  height: 60px;
  margin-right: 1.5%;
}
.Navbar > .Top > .Logo > a > img {
  height: 100%;
  object-fit: contain;
}
.Navbar > .Top > .Services {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20%;
  letter-spacing: 1px;
}
.Navbar > .Top > .Services > h3 > a:hover,
.Navbar > .Top > .Login > p > a:hover,
.Navbar > .Top > .Cart > p > a:hover {
  color: var(--orange-color);
  transition: 0.15s;
}
.Navbar > .Top > .Services > h3 {
  display: flex;
  align-items: center;
}
.Navbar > .Top > .Services > h3 > span {
  background-color: var(--orange-color);
  color: white;
  font-weight: 100;
  border-radius: 5px;
  margin-left: 5px;
  font-size: x-small;
  padding: 2px 5px;
  animation: opac 1.5s ease-in-out infinite;
}
.Navbar > .Top > .Login {
  width: 13%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 5%;
}
.Navbar > .Top > .Menu,
.Navbar > .Middle > .Input > .Menu2 {
  display: none;
  font-size: x-small;
  cursor: pointer;
  padding: 2.5px;
}
.Navbar > .Top > .Login > p,
.Navbar > .Top > .Cart > p {
  font-size: large;
  letter-spacing: 1px;
}
.Navbar > .Top > .Login > p > a,
.Navbar > .Top > .Cart > p > a,
.Navbar > .Top > .Services > h3 > a {
  text-decoration: none;
  color: black;
}
.Divide {
  border-top: 1px solid rgb(236, 236, 236);
}
.Navbar > .Middle {
  padding: 1% 5%;
}
.Navbar > .Middle > .Input {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.Navbar > .Middle > .Input > select,
.Navbar > .Middle > .Input > form > input {
  font-size: 0.9rem;
  padding: 1% 1.5%;
  margin-right: 0.3%;
  text-overflow: ellipsis;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(242, 242, 242);
  letter-spacing: 0.8px;
}
.Navbar > .Middle > .Input > form > input {
  padding: 1.35% 2%;
  letter-spacing: 0.5px;
}
.Navbar > .Middle > .Input > select {
  width: 20%;
}
.Navbar > .Middle > .Input > select > option {
  background-color: rgb(242, 242, 242);
}
.Navbar > .Middle > .Input > select > option:hover {
  background-color: var(--orange-color);
}
.Navbar > .Middle > .Input > form {
  width: 80%;
  display: flex;
  align-items: center;
}
.Navbar > .Middle > .Input > form > input:first-child {
  width: 80%;
  cursor: auto;
}
.Navbar > .End {
  padding: 1% 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.Dropdown1,
.Dropdown2,
.Dropdown3,
.Dropdown4,
.Dropdown5 {
  cursor: pointer;
}
.Dropdown1 > p:hover > span,
.Dropdown2 > p:hover > span,
.Dropdown3 > p:hover > span,
.Dropdown4 > p:hover > span,
.Dropdown5 > p:hover > span {
  color: black;
}
.Dropdown1 > p:hover,
.MenuDiv1 > p:hover,
.Dropdown2 > p:hover,
.MenuDiv2 > p:hover,
.Dropdown3 > p:hover,
.MenuDiv3 > p:hover,
.Dropdown4 > p:hover,
.MenuDiv4 > p:hover,
.Dropdown5 > p:hover,
.MenuDiv5 > p:hover {
  color: var(--orange-color);
  transition: 0.15s;
}
.Dropdown1:hover .MenuDiv1,
.Dropdown2:hover .MenuDiv2,
.Dropdown3:hover .MenuDiv3,
.Dropdown4:hover .MenuDiv4,
.Dropdown5:hover .MenuDiv5 {
  opacity: 1;
  visibility: visible;
}
.MenuDiv1,
.MenuDiv2,
.MenuDiv3,
.MenuDiv4,
.MenuDiv5 {
  position: absolute;
  top: 28%;
  padding: 10px 15px;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  z-index: 100000;
}
.MenuDiv1 > p {
  margin-top: 3%;
  font-weight: bold;
  font-size: small;
}
.MenuDiv2,
.MenuDiv3,
.MenuDiv4,
.MenuDiv5 {
  padding-bottom: 20px;
}
.MenuDiv2 > p,
.MenuDiv3 > p,
.MenuDiv4 > p,
.MenuDiv5 > p {
  margin-top: 3%;
  font-size: small;
}
.MenuDiv2 > .Category,
.MenuDiv3 > .Category,
.MenuDiv4 > .Category,
.MenuDiv5 > .Category {
  margin-top: 15px;
  font-weight: bold;
}
.MenuDiv2 > .Category:hover,
.MenuDiv3 > .Category:hover,
.MenuDiv4 > .Category:hover,
.MenuDiv5 > .Category:hover {
  color: black;
}
.Dropdown1 > p > span,
.Dropdown2 > p > span,
.Dropdown3 > p > span,
.Dropdown4 > p > span,
.Dropdown5 > p > span {
  font-size: 20px;
}
@keyframes opac {
  50% {
    opacity: 0.7;
  }
}
@media all and (max-width: 1300px) {
  .Navbar > .Top > .Services {
    width: 50%;
    margin-right: 10%;
  }
  .Navbar > .Top > .Services > h3 {
    font-size: medium;
  }
  .Navbar > .Top > .Login {
    width: 16%;
  }
  .Navbar > .Top > .Login > p,
  .Navbar > .Top > .Cart > p {
    font-size: medium;
  }
  .Navbar > .Middle > .Input {
    width: 70%;
  }
  .MenuDiv1,
  .MenuDiv2,
  .MenuDiv3,
  .MenuDiv4,
  .MenuDiv5 {
    top: 30%;
  }
}
@media all and (max-width: 1000px) {
  .Navbar > .Top > .Services {
    width: 60%;
    margin-right: 5%;
  }
  .Navbar > .Top > .Services > h3 {
    font-size: medium;
  }
  .Navbar > .Top > .Login {
    width: 19%;
  }
  .Navbar > .Middle > .Input {
    width: 100%;
  }
  .MenuDiv1,
  .MenuDiv2,
  .MenuDiv3,
  .MenuDiv4,
  .MenuDiv5 {
    top: 28%;
  }
  .Dropdown1 > p,
  .Dropdown2 > p,
  .Dropdown3 > p,
  .Dropdown4 > p,
  .Dropdown5 > p {
    font-size: small;
  }
  .Dropdown1 > p > span,
  .Dropdown2 > p > span,
  .Dropdown3 > p > span,
  .Dropdown4 > p > span,
  .Dropdown5 > p > span {
    font-size: 15px;
  }
}
@media all and (max-width: 880px) {
  .Navbar > .Top > .Services {
    width: 60%;
    margin-right: 3%;
  }
  .Navbar > .Top > .Services > h3 {
    font-size: small;
  }
  .Navbar > .Top > .Login {
    width: 20%;
    margin-right: 3%;
  }
  .Navbar > .Top > .Login > p,
  .Navbar > .Top > .Cart > p {
    font-size: small;
  }
  .Navbar > .Middle > .Input > select,
  .Navbar > .Middle > .Input > form > input {
    font-size: 0rem;
  }
  .Navbar > .Top > .Services > h3 > span {
    font-size: xx-small;
  }
  .MenuDiv1,
  .MenuDiv2,
  .MenuDiv3,
  .MenuDiv4,
  .MenuDiv5 {
    top: 26%;
  }
  .Dropdown1 > p,
  .Dropdown2 > p,
  .Dropdown3 > p,
  .Dropdown4 > p,
  .Dropdown5 > p {
    font-size: x-small;
  }
  .Dropdown1 > p > span,
  .Dropdown2 > p > span,
  .Dropdown3 > p > span,
  .Dropdown4 > p > span,
  .Dropdown5 > p > span {
    font-size: 12px;
  }
}
@media all and (max-width: 750px) {
  .Navbar > .Top > .Logo {
    margin-right: 5%;
  }
  .Navbar > .Top > .Services {
    width: 100%;
  }
  .Navbar > .Top > .Services > h3 {
    font-size: small;
  }
  .Navbar > .Top > .Services > h3 > span {
    font-size: xx-small;
    padding: 1px 4px;
    border-radius: 3px;
  }
  .Navbar > .Top > .Login > p,
  .Navbar > .Top > .Cart > p {
    display: none;
  }
  .Navbar > .Top > .Menu {
    display: block;
  }
  .MenuDiv1,
  .MenuDiv2,
  .MenuDiv3,
  .MenuDiv4,
  .MenuDiv5 {
    top: 25%;
  }
}
@media all and (max-width: 719px) {
  .Navbar > .Top {
    display: none;
  }
  .Navbar > .End {
    display: none;
  }
  .Navbar > .Middle > .Input > form {
    margin-right: 0%;
  }
  .Navbar > .Middle > .Input > .Menu2 {
    display: block;
  }
}
